/*CREDIT: Josh W Comeau ttps://www.joshwcomeau.com/css/custom-css-reset/*/
/*
Smooth Scroll behaviour for anchor links
*/
html {
    scroll-behavior: smooth;
}

/*
Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
Remove default margin
*/
* {
    margin: 0;
    padding: 0;
}

/*
Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
Typographic tweaks!
*/
body {
    /* line-height: 1.5; */
    -webkit-font-smoothing: antialiased;
}

/*
Improve media defaults
*/
:where(img,
    picture,
    video,
    canvas,
    svg) {
    max-width: 100%;
    display: block;
}

/*
Remove built-in form typography styles
*/
:where(input,
    button,
    textarea,
    select) {
    font: inherit;
}

/*
Avoid text overflows
*/
:where(p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6) {
    overflow-wrap: break-word;
}

/*
Line heights tend to get a bit too big at bigger heading sizes, this will fix that
*/
:where(h1,
    h2,
    h3) {
    line-height: 1.35;
}

/*
Remove ul from navigation menus
*/
:where(
    header ul,
    footer ul)
    {
    list-style: none;
}

:where(a){
    text-decoration: none;
}

/* 
Remove all animations, transitions and smooth scroll for people that prefer not to see them 
*/
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}